span {
    font-family: "Roboto", sans-serif;
}


.kontainer-kontak{
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}

.kontak-grid{
    width: 1296px;
    height: 692px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
}


/* ------------ KONTAKKK KIRIII ---------------------*/

.kontak-kiri{
    top: 0;
    left: 0;
    width: 622px;
    height: 210px;
    display: flex;
    position: absolute;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.30000001192092896) ;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);

    
}

.img-kiri{
    top: 45px;
    left: 0px;
    width: 160px;
    height: 119px;
    position: absolute;
}

.konten-list-kiri{
    gap: 14px;
    top: 64.30000305175781px;
    left: 170px;
    width: 320px;
    display: flex;
    padding: 0 0 0 31px;
    align-items: flex-start;
    border-color: rgba(213, 213, 213, 1);
    border-style: solid;
    border-width: 0 0 0 1px;
    flex-direction: column;
}

.konten-listkiri-detail{
    gap: 1.1100006103515625px;
    display: flex;
    align-items: flex-start;
}

.ikon-kiri{
    width: 29px;
    height: 29px;
}

.ikon-kiri2{
   width: 31px;
   height: 31px; 
}


.kontak-kiri-number{
    width: 258.9200134277344px;
    height: 33.61000061035156px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.kontak-kiri-numbertext{
    top: -1px;
    left: 30px;
    color: rgba(15, 90, 162, 1);
    height: auto;
    font-size: 20.399999618530273px;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 33.599998474121094px;
    font-stretch: normal;
    text-decoration: none;
}

.kontak-kiri-numbertext2{
    top: 7px;
    left: 199.47999572753906px;
    color: rgba(42, 157, 233, 1);
    height: auto;
    font-size: 13px;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
}

.kontak-kiri-numbertext3{
    color: rgb(15, 90, 162);
    height: auto;
    font-size: 19.4px;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 33.6px;
    font-stretch: normal;
    text-decoration: none;
}

.konten-listkiri-detail1{
    gap: 28.5px;
    display: flex;
    align-items: center;
    padding-top: 0 70.92001342773438px 0.6100006103515625px 0;
    padding-left: 0 70.92001342773438px 0.6100006103515625px 0;
    padding-bottom: 0 70.92001342773438px 0.6100006103515625px 0;
}

/* END KONTAKKK KIRIII */

/* KONTAKKK KANANNN */

.kontak-kanan{
    top: 0px;
    left: 673.9199829101562px;
    width: 622px;
    height: 210.8300018310547px;
    display: flex;
    position: absolute;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.30000001192092896) ;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1); 
}

.img-kanan{
    top: 45.90999984741211px;
    left: 0px;
    width: 160px;
    height: 119px;
    position: absolute;
}

.konten-list-kanan{
    top: 40px;
    left: 170px;
    width: 322px;
    height: 130.8300018310547px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(213, 213, 213, 1);
    border-style: solid;
    border-width: 0 0 0 1px;
}

.konten-listkanan-detail{
    gap: 1.1100006103515625px;
    top: 0px;
    left: 31px;
    width: 291px;
    display: flex;
    position: absolute;
    align-items: flex-start;
}

.ikon-kanan{
    width: 29px;
    height: 29px;
}

.kontak-kanan-number{
    width: 260.5899963378906px;
    height: 33.61000061035156px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
}

.kontak-kanan-numbertext{
    top: -1px;
    left: 30px;
    color: rgba(15, 90, 162, 1);
    height: auto;
    position: absolute;
    font-size: 20.399999618530273px;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 33.599998474121094px;
    font-stretch: normal;
    text-decoration: none;
}

.kontak-kanan-numbertext2{
    top: 7px;
    left: 180.16000366210938px;
    color: rgba(42, 157, 233, 1);
    height: auto;
    position: absolute;
    font-size: 13px;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
}

.konten-listkanan-detail2{
    gap: 28.5px;
    top: 47.61000061035156px;
    width: 291px;
    display: flex;
    padding: 0 75.58999633789062px 0.6100006103515625px 0;
    position: absolute;
    align-items: center;
}

.ikon-kanan2{
    width: 31px;
    height: 31px;
}

.kontak-kanan-numbertext3{
    color: rgba(15, 90, 162, 1);
    height: auto;
    font-size: 19.399999618530273px;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 33.599998474121094px;
    font-stretch: normal;
    text-decoration: none;
}

.konten-listkanan-detail3{
    top: 97.22000122070312px;
    width: 291px;
    height: 33.61000061035156px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
}

.ikon-kanan3{
    top: 2.359999895095825px;
    left: 0px;
    width: 30px;
    height: 24px;
    position: absolute;
}

.kontak-kanan-numbertext4{
    top: -1px;
    left: 60px;
    color: rgba(15, 90, 162, 1);
    height: auto;
    position: absolute;
    font-size: 18.399999618530273px;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 33.599998474121094px;
    font-stretch: normal;
    text-decoration: none;
}

/* END KONTAKKK KANNNNNANN */

